[submodule "deepiri-dataset-processor"]
	path = deepiri-dataset-processor
	url = git@github.com:Team-Deepiri/deepiri-dataset-processor.git
[submodule "deepiri-training-orchestrator"]
	path = deepiri-training-orchestrator
	url = git@github.com:Team-Deepiri/deepiri-training-orchestrator.git
[submodule "deepiri-gpu-utils"]
	path = deepiri-gpu-utils
	url = git@github.com:Team-Deepiri/deepiri-gpu-utils.git
