[submodule "deepiri-core-api"]
	path = deepiri-core-api
	url = git@github.com:Team-Deepiri/deepiri-core-api.git
[submodule "diri-cyrex"]
	path = diri-cyrex
	url = git@github.com:Team-Deepiri/diri-cyrex.git
[submodule "platform-services/backend/deepiri-api-gateway"]
	path = platform-services/backend/deepiri-api-gateway
	url = git@github.com:Team-Deepiri/deepiri-api-gateway.git
[submodule "deepiri-web-frontend"]
	path = deepiri-web-frontend
	url = git@github.com:Team-Deepiri/deepiri-web-frontend.git
[submodule "platform-services/backend/deepiri-external-bridge-service"]
	path = platform-services/backend/deepiri-external-bridge-service
	url = git@github.com:Team-Deepiri/deepiri-external-bridge-service.git
[submodule "platform-services/backend/deepiri-auth-service"]
	path = platform-services/backend/deepiri-auth-service
	url = git@github.com:Team-Deepiri/deepiri-auth-service.git
[submodule "diri-helox"]
	path = diri-helox
	url = git@github.com:Team-Deepiri/diri-helox.git
[submodule "deepiri-modelkit"]
	path = deepiri-modelkit
	url = git@github.com:Team-Deepiri/deepiri-modelkit.git
